@font-face {

    font-family: "Bebas Neue";
    src: url(Fuentes/Bebas_Neue/BebasNeue-Regular.ttf);

}

@font-face {
    font-family: "Inria Sans";
    src: url(Fuentes/Inria_Sans/InriaSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inria Sans";
    src: url(Fuentes/Inria_Sans/InriaSans-Light.ttf);
    font-weight: 300;
}

:root {
    --fontSize1: 0.85rem;
    --colorRojo: red;
}

*,
::before ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

}

body {
    margin: 0px;
}

nav {
    display: flex;
    width: 100%;
    background-color: #D9D9D9;
    border-bottom: solid 2px var(--colorRojo);
    justify-content: space-between;
    position: fixed;
    z-index: 1;

}

#logo {
    padding-left: 45px;
    margin: 15px 15px;
    width: 200px;
}

.secciones,
.navbar_menu {
    display: flex;
    list-style: none;
}


.secciones {
    justify-content: space-between;
    gap: 25px;

}

.secciones p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
    align-items: center;
    color: black;
    border-bottom: solid 3px gray;
}

.secciones:hover p {
    border-bottom: solid 3px var(--colorRojo);

}

.navbar_menu {
    justify-content: space-between;
    gap: 25px;
    padding-right: 45px;
    margin: 19px 0px 0px 0px;
}

ul li a {
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}



/* FIN DEL NAV */


main {
    padding: 8.3% 50px 0px 50px;

}


.noticia_destacada {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    border: 0px;
}


.imagen_noticia_destacada img {
    width: 750px;
}

.row_destacado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 5px 0px 5px 0px;
}

.separador_rojo {
    width: 5px;
    height: 22px;
    background-color: var(--colorRojo);
}


.noticia_destacada h4 {
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 1.8rem;
    margin: 12px 0px 8px 0px;
}

.texto h2 {
    font-family: "Bebas Neue";
    font-size: 3.8rem;
    font-weight: 500;
    margin: 0px;
}

.texto p {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

.autor span {
    color: var(--colorRojo);
    font-size: var(--fontSize1);
}

.autor {
    font-size: var(--fontSize1);
}

.autor a,
.boton_noticia_destacada a {
    text-decoration: none;
}

.boton_noticia_destacada {
    background-color: var(--colorRojo);
    width: 200px;
    height: 46px;
    text-align: center;
    border-radius: 5px;

}

.boton_noticia_destacada h4 {
    padding: 9px 0px 0px 0px;
    font-size: 1.4rem;
    color: white;

}

/* Imperdibles y Carrousel */

#imperibles_de_la_semana {
    padding-top: 40px;
}

.contenedor_carrousel {
    width: 100%;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;

}

.carrousel::-webkit-scrollbar {
    display: none;
}


.carrousel_tarjeta {
    scroll-snap-align: start;
    cursor: pointer;
}


.carrousel_tarjeta h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
}



/* FEED */

#feed {
    padding-bottom: 10%;
}


.tarjeta {
    display: flex;
    flex-direction: block;
    padding-block-end: 25px;
}

.tarjeta .contenedor_texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 35px;
}

.tarjeta .contenedor_texto p .reloj_icon {
    width: 25px;
    margin-top: 0px;

}

.tarjeta .contenedor_texto p .reloj_icon img {
    width: 25px;
    padding: 0px;
}

.tarjeta .contenedor_texto h4 {
    width: 100%;
    font-size: 1.9rem;
    margin: 0px;
    font-style: normal;
    margin-top: 30px;
}

.tarjeta .contenedor_texto p {
    width: 100%;
    margin-top: 8px;
}

.tarjeta .contenedor_texto p:nth-of-type(2) {
    width: 100%;
    margin: 0px 0px 15px 0px;
}

/* VIDEO seccion*/

#videos {
    padding: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: 850px 1fr;
    grid-template-rows: 70px 130px 150px 150px 150px;
    gap: 10px;
    padding: 2% 0px 2% 0px;
    color: white;

    font-family: "Inria Sans";
}


.h4_video {
    color: white;
}

.item_video {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gif img {
    width: 850px;
    height: 516px;
    border-radius: 10px;

}

.comentario {
    grid-column: 1 / 2;
    grid-row: 5/ 7;
    margin: 10x 0px 0px 0px;
    display: flex;
    background-color: #454545;
    border-radius: 15px;
    height: 100px;
    width: 100%;
    max-width: 100%;
}

.item_user_icon img {
    margin: 15px 0px 0px 10px;
    width: 65px;
}

.user_text {
    display: row;
    margin-left: 2%;
}

.item_user {
    display: flex;
    width: 100%;

}

.item_user p {
    margin: 0px;
}


.item_user span,
.item_user p {
    display: block;
    margin-block-start: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

}

.item_user span {
    margin-inline-start: 10px;
    margin-block-start: 0.6rem;
    color: #E3E3E3;
    font-weight: 100;
    font-size: 0.94em;
}

.item_text p {
    padding: 5px 0px 0px 0px;
    margin: 0px;
}


.estas_viendo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 10px;
}

.estas_viendo p,
.estas_viendo h4 {
    margin: 0px;
}

.tarjeta_nintendo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0px 0px 0px 10px;
}

.tarjeta_nintendo img {
    max-width: 100%;
    width: 80%;
}

.carrousel2 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin-left: 10px;
}

.carrousel2 img {
    max-width: 100%;
    width: 80%;
}

.chat_en_vivo {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    margin-left: 10px;
    display: flex;
    background-color: #454545;
    border-radius: 15px;
    height: 100px;
    width: 78%;
    max-width: 100%;
}

.chat_en_vivo_text h4 {
    margin: 6px 0px 10px 16px;

}

.chat_per_se {
    display: flex;
    justify-content: space-between;
}

.chat_per_se img {
    object-fit: cover;
    margin: 7px 0px 0px 15px;
    max-width: 25px;
    width: 100%;

}

.chat_per_se p {
    margin: 0px;
    margin-right: 10px;
    width: 60%;
    font-size: 0.9em;
    color: #E3E3E3;

}

.boton_abrir_chat {
    background-color: #888888;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    margin-right: 19px;
}

.chat_per_se .boton_abrir_chat p {
    color: white;
    text-align: center;
    margin: 6px 0px 0px 0px;
    width: 100%;
    font-weight: 600;
}

.separador2 {
    width: 95%;
    height: 3px;
    border-radius: 5px;
    background-color: #888888;
    margin-top: 7px;
    margin-left: 16px;
}


#bg_texture {
    top: 525%;
    left: -190px;
    width: 1900px;
    height: 1400px;

}

/* TE RECOMENDAMOS */


#te_recomendamos {
    padding-top: 5%;
}

.fondo_letra_gris {
    background-color: #454545;
    width: 20%;
    height: 50px;
}

.fondo_letra_gris h4 {
    color: white;
    font-size: larger;
    margin: 0px;
    margin-left: 20px;
}

.contenedor_recomendaciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 210px 210px;
    padding-top:25px;
}

.fondo_letra_gris h4{
    margin: 0px 0px 0px 10px;
}

.contenedor_recomendaciones h4{
    font-family: "Inria Sans";
    font-size: 1.4rem;
    font-weight: 700;
}

.tarjeta_recomendacion{
display: flex;
width:90%;
}

.tarjeta_recomendaciones_contenido{
    margin-left: 15px;
}

.tarjeta_recomendaciones_contenido h4{
    margin:0px;
}

.tarjeta_recomendaciones_contenido p{
    margin:0px;
}



.tarjeta_recomendacion:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tarjeta_recomendacion:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.tarjeta_recomendacion:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.tarjeta_recomendacion:nth-child(4){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tarjeta_recomendacion:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#bg_texture,
#bg_texture_2 {
    z-index: -1;
    position: absolute;
}

#bg_texture_2{
    top: 765%;
    right: -90px;
    width: 1700px;
    height: 400px;
}



