/* PAGINA 2 */

@font-face {

    font-family: "Bebas Neue";
    src: url(Fuentes/Bebas_Neue/BebasNeue-Regular.ttf);

}

@font-face {
    font-family: "Inria Sans";
    src: url(Fuentes/Inria_Sans/InriaSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inria Sans";
    src: url(Fuentes/Inria_Sans/InriaSans-Light.ttf);
    font-weight: 300;
}

:root {
    --fontSize1: 0.85rem;
    --colorRojo: red;
}

*,
::before ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

}

body {
    margin: 0px;
}

nav {
    display: flex;
    width: 100%;
    background-color: #D9D9D9;
    border-bottom: solid 2px var(--colorRojo);
    justify-content: space-between;
    position: fixed;
    z-index: 1;

}

#logo {
    padding-left: 45px;
    margin: 15px 15px;
    width: 200px;
}

.secciones,
.navbar_menu {
    display: flex;
    list-style: none;
}


.secciones {
    justify-content: space-between;
    gap: 25px;

}

.secciones p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
    align-items: center;
    color: black;
    border-bottom: solid 3px gray;
}

.secciones:hover p {
    border-bottom: solid 3px var(--colorRojo);

}

.navbar_menu {
    justify-content: space-between;
    gap: 25px;
    padding-right: 45px;
    margin: 19px 0px 0px 0px;
}

ul li a {
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}

/* FIN DEL NAV */

.row_destacado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 5px 0px 5px 0px;
}

.separador_rojo {
    width: 5px;
    height: 22px;
    background-color: var(--colorRojo);
}